@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.font-logo {
  font-family: "Lilita One", cursive;
}

.font-all {
  font-family: "Montserrat", sans-serif;
}

.darkMenu {
  @apply dark:text-white;
}

.stars {
  -webkit-animation: mover 6s infinite alternate;
  animation: mover 6s infinite alternate;
}

.stars2 {
  -webkit-animation: mover2 6s infinite alternate;
  animation: mover2 6s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

@-webkit-keyframes mover2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}
@keyframes mover2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

.custom-shape-divider-bottom-1692245003 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
